## Criando novas variáveis

In [1]:
import pandas as pd
import numpy as np

In [3]:
dados = pd.read_csv('dados/aluguel_residencial_2.csv', sep=';')

In [4]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [5]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [6]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,10331.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,57223.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0

In [11]:
dados['Valor m2'] = (dados['Valor'] / dados['Area']).round(2)

In [12]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,10331.0,34.67
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,57223.0,50.36
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43

In [13]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)

In [14]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,10331.0,34.67,68.87
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,57223.0,50.36,82.34
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66

In [37]:
list = dados.Tipo.unique()

In [38]:
list = sorted(list, key = lambda i: i[0])
list

['Apartamento',
 'Box/Garagem',
 'Casa',
 'Conjunto Comercial/Sala',
 'Casa de Condomínio',
 'Casa Comercial',
 'Casa de Vila',
 'Chácara',
 'Flat',
 'Galpão/Depósito/Armazém',
 'Hotel',
 'Indústria',
 'Loja/Salão',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Loteamento/Condomínio',
 'Prédio Inteiro',
 'Pousada/Chalé',
 'Quitinete',
 'Sítio',
 'Studio',
 'Terreno Padrão']

In [31]:
casa =  ['Casa de Condomínio', 'Casa', 'Casa Comercial', 'Casa de Vila',]

In [32]:
dados ['Tipo Agregado'] =  dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [33]:
dados.head(30)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,10331.0,34.67,68.87,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Casa
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Casa
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,57223.0,50.36,82.34,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66,Apartamento
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88,Apartamento
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28,Apartamento
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,85.22,Apartamento
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,65.03,Apartamento
14,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,0.0,3563.0,31563.0,52.24,58.89,Apartamento
15,Flat,Botafogo,3,1,1,80,3800.0,1040.0,0.0,4840.0,47.50,60.50,Apartamento
16,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,17.39,Casa
17,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,23.67,Apartamento
18,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,36.36,Apartamento
19,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,24.89,Apartamento
20,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,21.88,Casa
21,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,24.56,Apartamento
22,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,34.62,Apartamento
23,Flat,Leblon,1,0,0,56,4500.0,1900.0,1500.0,7900.0,80.36,141.07,Apartamento
24,Conjunto Comercial/Sala,São Cristóvão,0,1,0,25,1100.0,600.0,0.0,1700.0,44.00,68.00,Apartamento
25,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,76.50,Apartamento
26,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0,1547.0,15.62,32.23,Apartamento
27,Loja/Salão,Campo Grande,0,1,0,35,1300.0,950.0,0.0,2250.0,37.14,64.29,Apartamento
28,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0,6200.0,24.00,35.43,Apartamento
29,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0,12000.0,30.00,30.00,Casa

### Excluindo Variaveis

In [34]:
dados.drop(['Valor m2', 'Valor Bruto m2'], axis=1, inplace=True)

In [35]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,Casa
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,10331.0,Apartamento
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,Apartamento
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,Casa
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,Casa
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0,57223.0,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,Apartamento